<ul>
<li>
  New Online Trainings (MOOCs) Angular 4 Java Developers by Dan Vega and John Thompson (by using this link, you will get a

</li>
<li>
big discount over the normal price!) Scaffolding Spring Boot and Angular Web Apps with JHipster by Michael Hoffman JHipster:

</li>
<li>
Build and Deploy Spring Boot Microservices by Chris Anatalio (LinkedIn Learning, Lynda.com) New Books The JHipster Mini-Book

</li>
<li>
4.0 by Matt Raible Full Stack Development with JHipster by Deepu K Sasidharan and Sendil Kumar

</li>

</ul>
